# ELMo 모델 설정 (Depth 1)
vocab_size: 30000
embedding_dim: 512
hidden_dim: 512
num_layers: 1  # depth: 1
dropout: 0.1
seq_len: 20  # 시퀀스 길이
batch_size: 32
lr: 0.001
epochs: 1
seed: 42
# Subsampling 설정
enable_subsampling: true
subsample_t: 1e-3
num_workers: 16


